<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Username |</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Email |</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Password |</ion-label>
    <ion-input type="Password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Confirm Password |</ion-label>
    <ion-input type="Password"></ion-input>
  </ion-item>

  <ion-button color="warning" expand="full" href="/login">Sign Up</ion-button>

  <ion-item class="ion-text-center">
    <ion-label>Already have an account? <a href="/login">Login</a></ion-label>
  </ion-item>

</ion-content>
