<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <!--1-->
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">Valorant<ion-icon name="skull-outline"></ion-icon></ion-card-subtitle>
      <ion-card-title>Looking for Ranking buddies</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="light">Join<ion-badge  color="light">1/5</ion-badge></ion-button>
      <ion-button color="light">Message</ion-button>
    </ion-card-content>
  </ion-card>

  <!--2-->
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">League of Legends<ion-icon name="accessibility-outline"></ion-icon></ion-card-subtitle>
      <ion-card-title>Casual Plays</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="light">Join<ion-badge  color="light">3/5</ion-badge></ion-button>
      <ion-button color="light">Message</ion-button>
    </ion-card-content>
  </ion-card>

<!--
    <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    </div>
-->
</ion-content>
