<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <a href="/home"><ion-icon name="arrow-undo-outline" style="float: left; color: white;"></ion-icon></a>
      About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Lemon<ion-icon name="glasses"></ion-icon></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lemon is an application for players who looks to play as a group. With this app, they will be able to group up and
      play together. Their goal will be one since all of the members knew what they come for.
    </ion-card-content>
  </ion-card>
</ion-content>
